@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-family: system-ui, -apple-system, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

@layer utilities {
  .container {
    @apply px-4 md:px-6;
  }

  .container-lg {
    @apply container px-4 md:px-6 min-[1650px]:max-w-[1650px];
  }

  .container-xl {
    @apply container px-4 md:px-6 min-[1800px]:max-w-[1800px];
  }

  .center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .hexagon {
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  }
}
